@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="checkbox"]:checked {
  appearance: none; 
  width: 20px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  border-radius: 10px; /* Set desired border radius */
  background-color: #fff; /* Set background color */
  border: 1px solid #ccc; /* Add border (optional) */
  cursor: pointer; /* Make it clickable */
}


input[type="checkbox"]:checked {
  background-color: #4CAF50;
}